<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EverythingNet" version="1.0.126" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net472" />
  <package id="Squid-Box.SevenZipSharp" version="1.5.2.21" targetFramework="net472" />
</packages>